.context-bar__toolbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #526173;
}

.context-bar__current-page {
  font-size: xx-large;
  margin: 8px;
}

.context-bar__button {
  margin-left: 8px;
  background-color: #01adab;
  color: #ffffff;
}
