/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #e9e9e9;
  margin: 0;
  padding: 0;
}

app-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px 0;
}

app-combined-view {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.mat-expansion-panel-body {
  padding: 0 0 0 0 !important;
  background-color: lightgray;
}
